.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 93vh;

}

.project-title h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.project-all {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: space-around;
}


.project-lists {
    display: flex;
    position: relative;
    flex-direction: column;
}

.project-lists img {
    width: 280px;
    height: 180px;
    border: 1px solid white;
    border-radius: 5px;
}


.project-boxes h4 {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.project-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    animation-duration: 3s;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    border-radius: 5px;
}

.project-info:hover {
    opacity: 100%;
    transform: scale(1.05);
    transition: 0.4s;
    border: 1.5px solid rgb(99, 99, 99);
    border-radius: 5px;
}


.project-info p {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.project-link {
    padding: 5px 15px;
    border-radius: 3px;
    margin: auto;
    color: white;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.project-links {
    text-decoration: none;
    color: white;
}

.project-link:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border: 1.7px solid rgb(255, 253, 253);
}

@media (max-width:480px) {
    .project-title h1 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .project-all {
        gap: 20px;
    }

    .projects {
        align-items: start;
        height: auto;
    }

    .project-boxes h4 {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 14px;
    }

    .project-lists img {
        width:240px ;
        height: 160px;
    }

    .project-info p {
        margin-top: 15px;
        font-size: 14px;
    }

    .project-link {
        padding: 3px 11px;
        font-size: 14px;
    }

}

@media (min-width:481px) and (max-width:920px) {
    .projects {
        align-items: start;
        height: auto;
    }

    .project-title h1 {
        font-size: 35px;
        margin-top: 0;
        margin-left: 90px;
        margin-bottom: 40px;
    }

    .project-all {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 700px;
        margin: auto;
    }

    .project-boxes h4 {
        margin-top: 10px;
        margin-bottom: 13px;
    }

    .project-lists img {
        width: 240px;
        height: 160px;
    }

    .project-info p {
        margin-top: 10px;
        font-size: 14px;
    }

    .project-link {
        padding: 3px 12px;
    }

    .project-links {
        font-size: 14px;
    }


}

@media (min-width:921px) and (max-width:1250px) {
    .project-title h1 {
        font-size: 35px;
        margin-top: 0;
    }

    .project-all {
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(2, 1fr);

    }

    .projects {
        height: auto;
    }

    .project-boxes h4 {
        margin-bottom: 18px;
    }

}